<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">
    <Properties>
        <property name="pattern_console">%d{HH:mm:ss:SSS} [%t] %-5level %logger{5} - %msg%n</property>
        <property name="pattern_file">%d{yyy-MM-dd HH:mm:ss:SSS} [%t] %-5level %logger{5} %msg%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <File name="File" filename="final/log/all.log">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>